.masthead {
  height: 400px;
  min-height: 300px;
  background-image: url("https://doithecao24h.com/Data/images/slides/slide-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background: #F6F6F6;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-taikhoan {
  margin-left: 20px;
}

.nav-scroller {
  background: #200993;
}

.nav-scroller .nav a {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  border-left: 1px solid #200993;
  text-decoration: none;
}

.nav-scroller .nav a i {
  margin-right: 10px;
}

.alert-home {
  text-align: left;
  color: #200993;
  font-size: 18px;
  padding: 20px;
  border: 2px solid #200993;
  line-height: 1.8;
  background: #fff;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  animation: blink 1.5s infinite;
}

.button,
.btn-view-more {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  margin-top: 5px;
  min-width: 120px;
  font-family: roboto;
  color: #fff;
  background: #200993;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
}

.boxbody_top span {
  display: block;
  padding: 12px 15px;
  font-size: 1.2rem;
  border-left: 8px solid #200993;
  text-transform: uppercase;
  position: relative;
  font-weight: normal;
  font-family: roboto, sans-serif;
}

.img-mang img {
  width: 70px;
}

.table2 > tbody > tr > td {
  text-align: center;
}

.table .text-primary {
  text-align: center;
  background: #200993;
  color: #fff !important;
  padding: 5px;
  margin: 0 auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: .9rem;
}

.boxbody_tbl {
  margin: 20px 0 10px;
  width: 100%;
  text-align: left;
  background: #fff;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}

.boxbody_body {
  padding: 20px;
}

/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto !important;
  border: 8px solid #fff;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.elementor-heading-title {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #200993;
  font-weight: 600;
}

.elementor-button-link {
  font-size: 26px;
  color: #ffffff;
  background-color: #FF7F28;
  border-radius: 4px 4px 4px 4px;
  padding: 5px 20px;
}

.elementor-align-icon-left {
  margin-right: 20px;
}
