:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --main-color: #4285F4;
    --second-color: #FF7F28;
    --text-opacity: #787885;
    --text-info: #4da7d4!important;
    --text-success: #09815c!important;
    --text-warning: #e38836!important;
    --text-danger: #09815c!important;
    --text-primary: #5869da!important;
    --color-muted: #687385!important;
    --color-primary: #5869da!important;
    --color-danger: #e3363e!important;
    --primary-border-color: #9b9b9b;
    --color-grey: #f7f8f9;
    --box-shawdow-hover: 0 4px 60px 0 rgba(0, 0, 0, 0.2);
    --box-shadow-hover: 0 4px 60px 0 rgba(0, 0, 0, 0.2);
}

// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap');
* {
    box-sizing: inherit;
}

html,
body {
    // HACK
    // font-size: 62.5%;
    font-size: 100%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #212529;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex: wrap;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.text-muted,
.text-muted a {
    color: var(--color-muted)!important;
}

.text-info {
    color: #4da7d4!important;
}

.text-success {
    color: #09815c!important;
}

.text-warning {
    color: #e38836!important;
}

.text-danger {
    color: #09815c!important;
}

.text-primary {
    color: #5869da!important;
}

button.box-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.bg-primary {
    background-color: var(--color-primary)!important;
}

.bg-grey {
    background: var(--color-grey)!important;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

.modal-backdrop {
    z-index: 0 !important;
}