.main-header {
    .header-top {
        .logo {
            img {
                width: 108px;
                height: 39px;
                object-fit: cover;
            }
        }
        .header-top-right {
            display: flex;
            justify-content: flex-end;
            ul.nav-topbar {
                padding: 0;
                margin: 0;
                display: flex;
                list-style: none;
                border-right: 1px solid var(--primary-border-color);
                height: 25px;
                li {
                    margin-right: 30px;
                    i {
                        color: var(--color-muted);
                        font-size: 13px;
                    }
                    a {
                        padding-right: 15px;
                        padding: 13px 0;
                        font-size: 14px;
                        color: var(--color-muted);
                        &:hover {
                            text-decoration: none;
                            color: var(--color-primary);
                        }
                    }
                }
                li:last-child {
                    margin-right: 35px;
                }
            }
            .search-icon {
                border: none;
                background: none;
                padding: 0;
                font-weight: 500;
                line-height: 1;
                margin-left: 20px;
                span {
                    font-size: 14px;
                    font-weight: 400;
                    i {
                        padding-right: 10px;
                    }
                    &:hover {
                        text-decoration: none;
                        color: var(--color-primary)!important;
                    }
                }
            }
            .btn-login {
                margin-left: 15px;
                font-size: 14px;
                margin-top: -5px;
                &:hover {
                    text-decoration: none;
                    background-color: var(--color-danger)!important;
                }
            }
        }
    }
}

.main-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    .logo {
        width: 205px;
        height: 55px;
        @media (max-width: 420px) {
            width: 100%;
            margin: auto;
            height: 50px;
        }
        img {
            object-fit: cover;
            width: 100%;
            @media (max-width: 420px) {
                object-fit: contain;
                height: 100%;
            }
        }
    }
    .nav-item {
        &:hover {
            a {
                color: #ffeb01 !important;
            }
        }
    }
    .nav-link {
        color: var(--white-color)!important;
        text-transform: capitalize;
    }
    .navbar-nav .active>.nav-link {
        color: #ffeb01 !important;
    }
}

// content
.post-recently {
    padding-top: 50px;
    .title-main {
        margin-bottom: 50px;
        .title {
            text-align: left;
            font-size: 45px;
            font-weight: 700;
            padding-bottom: 5px;
        }
        .breadcrumb {
            background: none;
            border-bottom: 1px solid #eaecee;
            padding: 0;
            padding-bottom: 20px;
            a,
            li {
                color: var(--color-muted);
            }
        }
    }
    .post-recently-inner {
        .list-post {
            .post {
                border: none;
                background: none;
                margin-bottom: 40px;
                a.thumb-img {
                    display: block;
                    border-radius: 5px;
                    height: 150px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text-post {
                    transition: 0.2s;
                    cursor: pointer;
                    .list-cate {
                        span {
                            text-transform: capitalize;
                            font-weight: 700;
                            font-size: 13px;
                            position: relative;
                            margin-right: 15px;
                            padding-right: 7px;
                            &:after {
                                content: "";
                                width: 3px;
                                height: 3px;
                                background: #999;
                                position: absolute;
                                right: 0;
                                bottom: 3px;
                                border-radius: 50%;
                            }
                        }
                    }
                    .post-title {
                        margin-bottom: 10px;
                        line-height: 26px;
                        margin-top: 3px;
                        a {
                            color: #212529;
                            font-weight: 900;
                            font-size: 22px;
                            &:hover {
                                color: var(--color-primary);
                            }
                        }
                    }
                    .time-view {
                        color: #666;
                        .post-on {
                            font-size: 13px;
                            text-transform: capitalize;
                        }
                        i {
                            color: #999;
                            font-size: 4px;
                            margin-top: -10px;
                            display: inline-block;
                            position: relative;
                            top: -2px;
                            padding: 5px;
                        }
                    }
                }
            }
        }
        .sidebar {
            padding-left: 30px;
            .thumb-ads {
                display: block;
                margin-bottom: 50px;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 380px;
                    border: 1px solid #eaecee;
                    border-radius: 5px;
                }
            }
            .title-main {
                text-align: left;
                letter-spacing: 1px;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                padding-bottom: 0px;
                border-bottom: 1px solid #eaecee;
                margin-bottom: 20px;
            }
            .list-post {
                margin-top: 30px;
                .post-item {
                    padding: 25px;
                    border: 1px solid #eaecee;
                    border-radius: 5px;
                    background: #fff;
                    transition: 0.2s;
                    width: 320px;
                    margin: auto;
                    margin-bottom: 30px;
                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: var(--box-shadow-hover), 0 0 0 transparent;
                        transition: 0.2s;
                    }
                    .title {
                        font-size: 15px;
                        margin-bottom: 10px;
                        font-weight: 500;
                        line-height: 17px;
                        color: var(--color-muted);
                        cursor: pointer;
                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                    .time-view {
                        color: #666;
                        .post-on {
                            font-size: 13px;
                            text-transform: capitalize;
                        }
                        i {
                            color: #999;
                            font-size: 4px;
                            margin-top: -10px;
                            display: inline-block;
                            position: relative;
                            top: -2px;
                            padding: 5px;
                        }
                    }
                    .thumb-img {
                        display: block;
                        width: 90px;
                        height: 80px;
                        border-radius: 5px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            object-fit: cover;
                            height: 100%;
                            box-shadow: 4px 4px 0 #f7f8f9;
                            transition: 0.4s;
                            &:hover {
                                transform: scale(1.1);
                                transition: 0.4s;
                            }
                        }
                    }
                }
            }
        }
    }
}

// footer
.footer {
    background: #303030;
    padding: 20px 0;
    margin-top: 40px;
    .footer-heading {
        margin-bottom: 30px;
        font-size: 16px;
        text-transform: uppercase;
        @media (max-width: 420px) {
            margin-bottom: 10px;
            margin-top: 20px;
        }
    }
    .info-company {
        p {
            font-size: 14px;
        }
        p.company-name {
            font-size: 14px;
            margin-bottom: 5px;
            margin-top: 10px;
        }
    }
    .customer-care {
        .info-contact {
            @media (max-width: 420px) {
                margin-bottom: 10px;
            }
            span:first-child {
                padding-right: 5px;
                font-size: 14px;
            }
            span:last-child {
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
    .socials {
        img {
            width: 35px;
            margin-right: 15px;
        }
    }
    .text-footer {
        font-size: 15px;
        margin-bottom: 0;
        border-top: 1px solid #efefef2e;
        padding-top: 15px;
    }
}

.modal-head {
    .modal-content {
        width: 65%;
        margin: auto;
        .modal-header {
            padding-bottom: 0px;
            border-bottom: none;
            .create-account {
                margin-left: 230px;
                padding: 2px 10px;
                margin-bottom: 0px;
                border: 1px solid #e3e1e1;
                border-radius: 5px;
                color: #555050;
                font-size: 14px;
                cursor: pointer;
            }
        }
        .modal-body {
            .sub-title {
                color: #615c5c;
                font-size: 15px;
                padding: 0px 5px;
            }
            .form-login {
                .form-group:last-child {
                    margin-bottom: 10px;
                }
            }
            .forgot-pass {
                color: #1267c4;
                font-size: 14px;
            }
            .btn-login {
                // background: var(--main-color);
            }
            .title-login-social {
                text-align: center;
                font-size: 15px;
                margin-top: 5px;
                color: #333;
                margin-bottom: 7px;
            }
            .login-face {
                background: #235a9a;
                border-radius: 0px;
            }
            .login-google {
                background: #da4d39;
                border-radius: 0px;
            }
            .text-footer {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 0;
                font-size: 15px;
                span {
                    color: var(--main-color);
                }
            }
        }
    }
}

.modal-body {
    .sub-title {
        color: #615c5c;
        font-size: 15px;
        padding: 0px 5px;
    }
    .form-login {
        .form-group:last-child {
            margin-bottom: 10px;
        }
    }
    .forgot-pass {
        color: #1267c4;
        font-size: 14px;
    }
    .btn-login {
        background: var(--main-color);
    }
    .title-login-social {
        text-align: center;
        font-size: 15px;
        margin-top: 5px;
        color: #333;
        margin-bottom: 7px;
    }
    .login-face {
        background: #235a9a;
        border-radius: 0px;
    }
    .login-google {
        background: #da4d39;
        border-radius: 0px;
    }
    .text-footer {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 15px;
        span {
            color: var(--main-color);
        }
    }
}

.modal-content {
    width: 65%;
    margin: auto;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 70%;
    }
}